<div id="<%= dom_id account %>">
  <p>
    This account belongs to <%= account.user.email %>
    Account #
    <%= account.id %>
    <strong>. Balance:</strong>
    <%= account.balance %>
  </p>

</div>
