<div id="<%= dom_id account %>">
  <p>
    <p>This account belongs to <%= account.user.email %> </p>
    Account #
    <%= account.id %>
    <strong>. Balance:</strong>
    <%= account.balance %>
  </p>

</div>
